<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 text-center offset-3 mb-2"><h2>Welcome to YelpCamp</h2></div>
    <div class="col-6 offset-3">
        <img class="img-fluid" src="https://images.unsplash.com/photo-1533873984035-25970ab07461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80" alt="">
        
    </div>
</div>