<% layout('layouts/boilerplate') %>
    <div class="row ">

        <form action="/campgrounds/new" method="post" novalidate class="needs-validation"  enctype="multipart/form-data">
            <fieldset class="col-6 offset-3">
                <h1 class="text-center">New Campground</h1>
                <div class="form-group">
                    <label class="form-label" for="title">Campground Name</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    
                </div>
                <div class="form-group">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="image">Add Image</label>
                    <input class="form-control" type="file" name="image" id="image" required multiple>
                </div>
                <div class="form-group mb-2">
                    <label class="form-label" for="price">Price</label>


                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Rs</div>
                        </div>
                        <input type="number" class="form-control" name="campground[price]" min="0" id="price" placeholder="" required>
                    </div>

                </div>



                <div class="form-group">
                    <label class="form-label" for="description">More About Campground</label>
                    <textarea class="form-control" name="campground[description]" id="description" cols="30"
                        rows="4"></textarea>
                </div>
                <button class=" btn btn-success mt-2 ">Submit</button>
            </fieldset>
        </form>
    </div>